Repository abhi-1408-shek/IRCTC-REBUILD: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{html,css,json,md}": [
    "prettier --write"
  ]
}

adding more
  client/package.json
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  netlify.toml
  package.json
Due: prettier --write, eslint --fix

adding more
  client/package.json
  client/src/vite-env.d.ts
  client/tailwind.config.js
  netlify.toml
Due: prettier --write, eslint --fix

adding more
  client/package-lock.json
  client/package.json
  client/src/components/auth/OtpInput.tsx
  client/src/components/ui/calendar.tsx
  client/tsconfig.json
  netlify.toml
Due: prettier --write, eslint --fix

Create LICENSE.md
  LICENSE.md
Due: prettier --write

Create LICENSE
  LICENSE
Due: none

Update index.html
  client/index.html
Due: prettier --write

Delete LICENSE.md
  LICENSE.md
Due: prettier --write
